# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

.idea/

tmp/

util/lib/

# Specific .gitignore entries for the "standalone/" sub-project
standalone/sources.txt
standalone/out/
